body {
    margin: 30px;
    border: #008000 5px dotted;
    background:#000000;
    font-family: 'Slabo 27px', serif;
}

div.table {
    color: #4EE2EC;
    border: yellow 2px dotted;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

table {
    border-collapse: collapse;
}

td {
    text-align: left;
    position: relative;
    padding-left: 10px;
}

h1 {
    text-decoration: underline;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: #008000;
}

a:hover{
    color:#50D050;
}

a.blackText{
    color: black;
}

.wrap{
    max-width: 600px;
    margin:150px auto;
}

.type-wrap{
    margin:10px auto;
    padding:20px;
    background:#000000;;
    border-radius:5px;
    border:#00FFFF 5px dotted;
    color: #F52887;
    font-size: 1.2em;
}

.type-wrap p, span{
    line-height: 2em;
    margin:0 0 20px;
    text-align: center;
}

.timer{
    visibility: hidden;
}

button{
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: orange;
    border: #F62817 3px outset;
    min-width: 200px;
    min-height:40px;
    max-height: 80px;
    margin-top: 10px;
}