*{
    margin: 0 auto;
    padding: 0 auto;
}

/*@keyframes blinker {*/
    /*25% { border-color: #F52887; }*/
    /*50% { border-color: floralwhite; }*/
    /*75% { border-color: #FFFF00; }*/
/*}*/

body {
    background:#000000;
    font-family: 'Slabo 27px', serif;
    color: #FFF;
}

.bag{
    padding:10px;
    color: #4EE2EC;
}

.bag h1{
    text-align: center;
    font-size:1.5em;
    text-decoration: underline;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: #008000;
}

a:hover{
    color:#50D050;
}

a.blackText{
    color: black;
}

ul, li{
    display:block;
    margin:0;
    padding:0;
}

.container{
    top: 13%;
    left: 48%;
    margin-left: -36%;
    width:70%;
    height:60%;
    padding:2%;
    border: #008000 4px dotted;
    position:absolute;
    /*animation: blinker 3s ease-in-out infinite alternate;*/
}

section{
    width:70%;
    float:left;
    margin-right:2%;
    font-color: #F52887;
    overflow: hidden;
}

.wrap{
    width:98%;
    height:52vh;
    border:#00FFFF 3px dotted;
    overflow: hidden;
}

.buttons{
    width:99%;
    height:8vh;
    overflow: hidden;
}

aside{
    width:26%;
    float:right;
    height:100%;
    font-color: #4EE2EC;
    border: yellow 2px dotted;
    overflow: hidden;
    text-align: left;
}

.type-wrap{
    padding:10px;
    color: #F52887;
    font-size: 1.2em;
}

.type-wrap p, span{
    line-height: 1em;
    text-align: left;
}

.timer{
    visibility: hidden;
}

button{
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: orange;
    border: #F62817 2px outset;
    min-width: 200px;
    min-height:40px;
    max-height: 80px;
    margin-top: 10px;
}

#itemspopup {
    position: absolute;
    top:16%;
    right:-9%;
    color: yellow;
    background-color: black;
    border: #E42217 2px dotted;
    width:20%;
    min-height:150px;
    height: auto;
    z-index: 200;
}

#itemspopupcontent {
    padding: 10px;
    font-size: 1em;
}

.part2, .part3, .part4, .part5 {
    visibility: hidden;
}