*{
margin: 0 auto;
padding: 0 auto;
}

@keyframes blinker {
    25% { border-color: #F52887; }
    50% { border-color: floralwhite; }
    75% { border-color: #FFFF00; }
}

body {
    background:#000000;
    font-family: 'Slabo 27px', serif;
    color: #FFF;
}


.container{
    top: 13%;
    left: 48%;
    margin-left: -36%;
    width:70%;
    height:60%;
    padding:2%;
    border: #008000 4px dotted;
    position:absolute;
    animation: blinker 3s ease-in-out infinite alternate;
}

img#dm,#logo, #mm{
    float:left;
}

#logo{
    margin-top:5%;
    height:60%;
    width:60%;
}
#mm{
    width:20%;
    height:20%;
}

#dm{
    width:20%;
    height:20%;
}

.bag{
    padding:10px;
    color: #4EE2EC;
}

.bag h1{
    text-align: center;
    font-size:1.5em;
    text-decoration: underline;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: #008000;
}

a:hover{
    color:#50D050;
}

a.blackText{
    color: black;
}

ul, li{
    display:block;
    margin:0;
    padding:0;
}

.container{
    top: 13%;
    left: 48%;
    margin-left: -36%;
    width:70%;
    height:60%;
    padding:2%;
    border: #008000 4px dotted;
    position:absolute;
}

#container{
    top: 25%;
    left: 50%;
    margin-left: -40%;
    width:80%;
    overflow: hidden;
    height:auto;
    position:absolute;
}

section{
    width:70%;
    float:left;
    margin-right:2%;
    font-color: #F52887;
    overflow: hidden;
}

.wrap{
    width:98%;
    height:52vh;
    border:#00FFFF 3px dotted;
    overflow: hidden;
}

.buttons{
    width:99%;
    height:8vh;
    overflow: hidden;
}

aside{
    width:26%;
    float:right;
    height:100%;
    font-color: #4EE2EC;
    border: yellow 2px dotted;
    overflow: hidden;
    text-align: left;
}

.type-wrap{
    padding:10px;
    color: #F52887;
    font-size: 1.2em;
}

.type-wrap p, span{
    line-height: 1em;
    text-align: center;
}

.dialogHover{
    color: #F52887;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.fade{
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.fadeIn{
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
-ms-animation: fadein 2s; /* Internet Explorer */
-o-animation: fadein 2s; /* Opera < 12.1 */
animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#dialog1{
    visibility: visible;
}


#dialog2, #dialog3, #dialog4{
    visibility: hidden;
}

.timer{
    visibility: hidden;
}

button{
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: orange;
    border: #F62817 2px outset;
    min-width: 200px;
    min-height:40px;
    max-height: 80px;
    margin-top: 10px;
}

#itemspopup, #recipepopup {
    position: absolute;
    top:16%;
    right:-9%;
    color: yellow;
    background-color: black;
    border: #E42217 2px dotted;
    width:20%;
    min-height:150px;
    height: auto;
    z-index: 200;
}

#itemspopupcontent, #recipepopupcontent {
    padding: 10px;
    font-size: 1em;

}

#itemspopupcontent li:nth-child(1){
    text-align: center;
    font-weight: bold;
}

#itemspopupcontent li:nth-child(even){
    font-weight: bold;
    text-decoration: underline;
}

@keyframes blinks {
    0% {
        border-color: #02FFFF;
    }
    25% {
        border-color: #410F42;
    }
    50% {
        border-color: #C120DA;
    }
    75% {
        border-color: #002AC3;
    }
    100% {
        border-color: #0066FF;
    }
}

.start {
    text-align: center;
    margin-left: 35%;
    margin-top: -5%;
    font-size: 2.5em;
    width: 35%;
    height: 100px;
    border: 10px outset;
    color: #F62817;
    background-color: #FFD801;
    animation: blinks 4s ease-in-out infinite alternate;
}